body{margin: 0;
padding: 10px}

.container{margin: 50px}

h1 {
    background-color: blue
}
h2 {
    background-color: darkblue; color: aliceblue
}
h3{
    background-color: darkgreen
}
h4{
    background-color: darkgreen
}
li{
    color: blue; font-size: larger; font-family: fantasy;padding: 3px
}
.emphasized {font-size: larger;
color: darkblue;
padding: 90px}

.lilcaps {font: small-caps;
    padding: 90px
}

#content {background-color: rgb(75, 30, 199; 
    padding: 20px
    
}