body{margin: 0;
padding: 10px;
display: grid;
grid-template-areas:
"navigation"
"header"
"content"
"footer";
grid-template-rows:none;
background-color: black;
}

.container {
    max-width: 1500px;
    grid-area: auto;
    margin: 0 auto;
    width: auto;
    flex-direction: row;
    color: blue;
    

}

.test {
    box-sizing: border-box;
        width: 300px;
        height: 200px;
    }

h1 {
    background-color: black;
    color: blue;
    font-family: fantasy;
    font-size: 48px;
}
h2 {
    background-color: black; 
    color: blue;
    font-family: fantasy;
}
h3{
    background-color: black;
    font-family: fantasy;
}
h4{
    background-color: black;
    font-family: fantasy;
}
li{
    color: blue; 
    font-family: fantasy;padding: 0px
}

ul {
    margin: 0;
    padding: 10px;
}
ol{
    list-style: none
}

.section{
    background-color: aqua
}
.emphasized {font-size: larger;
color: darkblue;
}

#text1 p{
    color: blue;
}
#lilcaps p {
    flex-direction: row;
    justify-content: right;
    width: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
    padding: 10px;
    font-size: 14px;
}
#header {color: rgb(7, 30, 245);
    padding: 10px 10px 10px 10px;
    grid-area: header;
    text-align: left;
    font-weight: bold;
}
#footer {
    grid-area:footer;
    color: blue
}

#content{
    background-color: rgb(0, 0, 0); 
    color: blue;
    padding: 20px;
    flex: none;
    align-content: stretch;
    
}
#section {background-color: rgb(7, 7, 7)}

.header {background-color: rgb(5, 5, 5)}


img {
display: block;
margin: 20px auto;
max-width: 900px;
width: 100%;
}

#test {display: block;
    margin: 20px auto;
    max-width: 800px;
    width: 100%;}



#navigation {
background-color: black;
grid-area: navigation;
padding: 0px;
position: sticky;
top: 0;
width: 100%;
}
#navigation a:hover + ul,
#navigation a + ul:hover {
    display: block;
}

#navigation a +ul {
    color: black;
display: none;
list-style: none;
flex-direction: column;
}

#navigation>ul >li {
    display: inline;
    position: relative;
    list-style: none
}

#navigation > ul {
    background-color: black;
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
}

#navigation > ul.container {
    background-color: rgb(7, 7, 7);
    display: flex;
    flex-direction : column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: left
;
  }

  form {display: flex;
    flex-direction : column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: left;
}

.span1 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    font-size: 16px;

}
.span2  ul { 
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    font-size: 16px;
}


input {
    margin: 10px;

}

input [type=text],
      [type=email] {
       width: 400px;
}

input[type=submit] {
    background-color: peachpuff;
}

input[type=submit]:hover {
    background-color: rgb(45, 15, 177);
    color: oldlace;
    cursor: pointer;
}
label{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(0, 119, 255, 0.993)
}
.info{
    font-family: 'Ubuntu', sans-serif;
    background-color: Black
}

#footer ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

#greeting{
    color: white
}


@media screen and (min-width: 320px){
    body{ grid-template-areas:
        "navigation header"
        "navigation content"
        "navigation footer";
        grid-template-rows: min-content auto min-content;
        grid-template-columns: 20vw auto;
    }
}


